.Carousel:global(.slick-slide) div {
    outline: none !important;
}

.Carousel:global(.slick-list) {
    padding-bottom: 2rem;
    height: auto;
}


.Carousel:global(.slick-prev) {
    left: 3% !important;
    z-index: 1;
}

.Carousel:global(.slick-next) {
    right: 3% !important;
    z-index: 1;
}

.Carousel:global(.slick-prev):before,
.Carousel:global(.slick-next):before {
    color: #333 !important;
}

.Carousel:global(.slick-dots) li {
    margin: 0 2rem;
}

.Carousel:global(.slick-dots) li button:before {
    color: #333 !important;
    font-size: 30px;
    content: "-"
}

@media (max-width: 768px) {
    .Carousel:global(.slick-prev) {
        left: 0% !important;
    }

    .Carousel:global(.slick-next) {
        right: 0% !important;
    }

}