# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Lint

on:
  push:
    branches: ["main"]
  pull_request:
    branches: []

jobs:
  run-linters:
    name: Run linters
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      # ESLint and Prettier must be in `package.json`
      - name: Install Node.js dependencies
        run: npm ci

      - name: Create dummy .env
        run: cp .env.example .env

      - name: Don't test env validatios
        run: echo '\nSKIP_ENV_VALIDATION="true"' >> .env

      - name: See .env variables
        run: cat .env

      - name: Run Next Lint
        run: npm run lint
#     - name: Run linters
#       uses: wearerequired/lint-action@v2
#       with:
#         eslint: true
#         prettier: true
