# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Test (Jest)

on:
  push:
    branches: [ "main" ]
  pull_request:

env:
  node-version: 18.x

jobs:
  jest-tests:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ env.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ env.node-version }}
        cache: 'npm'
    - run: npm ci
    # - run: npm test
    - name: Generate code coverage report
      run: npm run test:coverage

    - name: Upload code coverage report
      uses: actions/upload-artifact@v2
      with:
        name: coverage-report
        path: coverage
